body {
  font-family: Arial;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

#torre {
  width: 250px;
  min-height: 400px;
  border: 2px dashed gray;
  padding: 10px;
}

.modulo {
  width: 100%;
  display: block;
  margin: 8px 0;
  border: 1px solid black;
}

.panel {
  text-align: left;
}
